[init]
	defaultBranch = "main"

[commit]
	gpgsign = true
	verbose = false

[rerere]
	enabled = true

[fetch]
	prune = true

[gpg]
	format = "ssh"

[gpg "ssh"]
  {{ if eq .chezmoi.os "darwin" -}}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  {{ else -}}
  program = "/opt/1Password/op-ssh-sign"
  {{- end }}

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = "upstream"

[rebase]
	autoStash = true

[tag]
	gpgsign = true

[user]
	name = "Steffen Beisenherz"
	email = {{ .git.email | quote }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGXksy6MukTkczCaGgSwF9DK/7qRdHB93LynQ5DNihoU
