[init]
	defaultBranch = "main"

[commit]
	gpgsign = true
	verbose = false

[rerere]
	enabled = true

[fetch]
	prune = true

[gpg]
	format = "ssh"

[gpg "ssh"]
  {{ if eq .chezmoi.os "darwin" -}}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  {{ else -}}
  program = "/opt/1Password/op-ssh-sign"
  {{- end }}

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = "upstream"

[rebase]
	autoStash = true

[tag]
	gpgsign = true

[user]
	name = "Steffen Beisenherz"
	email = {{ .git.email | quote }}
	{{ if eq .workspace "work" -}}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGXksy6MukTkczCaGgSwF9DK/7qRdHB93LynQ5DNihoU
	{{ else }}
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKd07ad4m8K5hWXAWyLsTwZEvWRCmTV0d/Xp2gcVOf2ncnbxFbvdcpFt/YG2NQ7Ky487te6fMzMDNKYR6mlzCkvEE+mMadpJlMRkcjE9YuS+z5n93yJD9mAcDEN4blhzEeUhK1YwyKRX1YMZZMDwvqQpfM/Jr1VyFdfcHT4tzEw61SvFaWBWTG2khSuBDTXZ4S/++QeJJ5Tui7v8fDSsqfhAHNYcHV1hxMHAnW4dipZodtOyG662vusSvP2VBr4kdRl0DyzGzlXIcH5/gUI8a9VKj3Ufzj+5+FquGmtukb4mMnXllWivzGsEa62fN0y3ciyak7eYuWwrJjTteV6vNv
	{{- end }}

[includeIf "gitdir:~/projects/gitlab.netrtl.com/"]
	path = ~/projects/gitlab.netrtl.com/.gitconfig
