{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

brew bundle --upgrade --cleanup --file=/dev/stdin <<EOF
tap "homebrew/cask"
tap "azure/kubelogin"

brew "atuin"
brew "bat"
brew "chezmoi"
brew "eza"
brew "fish"
brew "gh"
brew "gnupg"
brew "mise"
brew "starship"
brew "yq"
brew "zoxide"
brew "helix"

# lsp
brew "Jetbrains/utils/kotlin-lsp"

# kubernetes
brew "fzf"
brew "helm"
brew "kubectl"
brew "k9s"

# work
brew "Azure/kubelogin/kubelogin"
brew "multi-gitter"

# needed for nvim
brew "fd"
brew "imagemagick"
brew "neovim"
brew "ripgrep"
brew "wget"

# Fonts
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"

cask "1password"
cask "1password-cli"
cask "brave-browser"
cask "dbvisualizer"
cask "discord"
cask "elgato-camera-hub"
cask "elgato-stream-deck"
cask "ghostty"
cask "jetbrains-toolbox"
cask "jordanbaird-ice"
cask "logi-options+"
cask "obs"
cask "obsidian"
cask "orbstack"
cask "orcaslicer"
cask "raycast"
cask "spotify"
cask "tailscale-app"
cask "zed"

# mas "1Password for Safari", id: 1569813296
# mas "AdGuard for Safari", id: 1440147259
EOF
{{- end -}}
