{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

brew bundle --upgrade --cleanup --file=/dev/stdin <<EOF
tap "homebrew/cask"
tap "azure/kubelogin"

brew "atuin"
brew "awscli"
brew "bat"
brew "chezmoi"
brew "eza"
brew "ffmpeg"
brew "fish"
brew "gh"
brew "glab"
brew "gnupg"
brew "jq"
brew "just"
brew "lazygit"
brew "mise"
brew "pulumi"
brew "starship"
brew "yq"
brew "zoxide"

# kubernetes
brew "fzf"
brew "helm"
brew "kubectl"
brew "kubectl-cnpg"
brew "k9s"

# work
brew "Azure/kubelogin/kubelogin"
brew "multi-gitter"

# languages
brew "composer"
brew "go"
brew "node"
brew "php"
brew "pnpm"
brew "rustup"

# needed for nvim
brew "fd"
brew "imagemagick"
brew "neovim"
brew "ripgrep"
brew "wget"

# Fonts
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"

cask "1password"
cask "1password-cli"
cask "brave-browser"
cask "dbvisualizer"
cask "discord"
cask "elgato-camera-hub"
cask "elgato-stream-deck"
cask "ghostty"
cask "jordanbaird-ice"
cask "logi-options+"
cask "obs"
cask "obsidian"
cask "orbstack"
cask "orcaslicer"
cask "raycast"
cask "spotify"
cask "tailscale-app"
cask "zed"

# mas "1Password for Safari", id: 1569813296
# mas "AdGuard for Safari", id: 1440147259
EOF
{{- end -}}
