{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

brew bundle --upgrade --cleanup --force-cleanup --file=/dev/stdin <<EOF
{{ if contains .workspace "private" -}}
# commented out due to not feeling ready to use yet
#tap "BarutSRB/tap"
tap "TheBoredTeam/boring-notch"

cask "boring-notch"
#cask "omniwm"
{{- end }}

{{ if contains .workspace "work" -}}
tap "azure/kubelogin"
tap "anomalyco/tap"

# work
brew "Azure/kubelogin/kubelogin"
brew "multi-gitter"

cask "brave-browser"
cask "jetbrains-toolbox"
cask "logi-options+"
cask "slack"
{{- end }}

brew "atuin"
brew "bat"
brew "chezmoi"
brew "eza"
brew "fish"
brew "gh"
brew "gnupg"
brew "lazygit"
brew "mise"
brew "mole"
brew "opencode"
brew "starship"
brew "yq"
brew "zoxide"

# kubernetes
brew "fzf"
brew "helm"
brew "kubectl"
brew "k9s"

# needed for nvim
brew "fd"
brew "imagemagick"
brew "neovim"
brew "ripgrep"
brew "wget"

# Fonts
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"

cask "1password"
cask "1password-cli"
cask "discord"
cask "elgato-camera-hub"
cask "ghostty"
cask "gram"
cask "orbstack"
cask "orcaslicer"
cask "raycast"
cask "spotify"
cask "tailscale-app"
cask "whatsapp"
cask "xcodes-app"
cask "zen"
EOF
{{- end -}}
