[settings]
experimental = true
disable_backends = ["ubi"]
pipx.uvx = true
python.uv_venv_auto = true
minimum_release_age = "7d"
lockfile = true

trusted_config_paths = ['~/projects']

[settings.github]
use_git_credentials = true

[tools]
go = "latest"
just = "latest"
lazygit = "latest"
rust = "latest"
node = "latest"

{{- if eq .chezmoi.os "linux" }}
usage = "latest"
{{- end }}

{{- if contains .workspace "work" }}
"gitlab:gitlab-org/cli" = "latest"
aws = { version = "latest", symlink_bins = "true" }
{{- end }}
